[defaults]
# inventory file path
inventory = ./inventory.ini

# default remote user to connect to machine
remote_user = ansible

# disable ssh key fingerprint notification
host_key_checking = False

# disable ssh key fingerprint notification
forks = 10 

# wait time
timeout = 30

[privilege_escalation]
# privilege escalation - allows ansible to become another user when running tasks that require admin privilege
become = True

# which metod to use for prvilege escalation
become_method = sudo 

# prompt for the sudo password (passwordless?)
become_ask_pass = False 
